/* styles/dashboard.module.css */
.dashboard {
    padding: 20px;
  }
  
  .appointments-list {
    list-style-type: none;
    padding: 0;
  }
  
  .appointments-list li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
  }
  